@model HotelManagement.Models.Users

@{
    ViewBag.Title = "Delete";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/Content/login/images/icons/favicon.ico" />
    <!--===============================================================================================-->

    <link href="~/Content/login/css/bootstrap.min.css" rel="stylesheet" />
    <!--===============================================================================================-->

    <link href="~/fonts/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <!--===============================================================================================-->

    <link href="~/fonts/login/fonts/Linearicons-Free-v1.0.0/icon-font.min.css" rel="stylesheet" />
    <!--===============================================================================================-->

    <link href="~/Content/login/css/animate.css" rel="stylesheet" />
    <!--===============================================================================================-->

    <link href="~/Content/login/css/hamburgers.min.css" rel="stylesheet" />
    <!--===============================================================================================-->

    <link href="~/Content/login/css/animsition.min.css" rel="stylesheet" />
    <!--===============================================================================================-->

    <link href="~/Content/login/css/select2.min.css" rel="stylesheet" />
    <!--===============================================================================================-->

    <link href="~/Content/login/css/daterangepicker.css" rel="stylesheet" />
    <!--===============================================================================================-->

    <link href="~/Content/login/css/util.css" rel="stylesheet" />
    <link href="~/Content/login/css/main.css" rel="stylesheet" />
    <link href="~/Content/toastr.css" rel="stylesheet" />
    <!--===============================================================================================-->
</head>
<body>
    <br>
    <h3>Are you sure you want to delete this user?</h3>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.UserID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UserID)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UserName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UserName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UserPassword)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UserPassword)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.RoleID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RoleID)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            
            <a href='@Url.Action("Index", "Member")'>
                <img src='@Url.Content("~/Content/images/back.png")' />
            </a>
            |
            <input type="submit" value="Delete" class="btn btn-primary" />
        </div>
        }
    </div>


    <div id="dropDownSelect1"></div>

    <!--===============================================================================================-->

    <script src="~/Scripts/login/js/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Scripts/login/js/popper.js"></script>
    <script src="~/Scripts/login/js/animsition.min.js"></script>

    <!--===============================================================================================-->
    <script src="~/Scripts/login/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->

    <script src="~/Scripts/login/js/select2.min.js"></script>
    <!--===============================================================================================-->

    <script src="~/Scripts/login/js/moment.min.js"></script>

    <script src="~/Scripts/login/js/daterangepicker.js"></script>
    <!--===============================================================================================-->

    <script src="~/Scripts/login/js/countdowntime.js"></script>
    <!--===============================================================================================-->

    <script src="~/Scripts/login/js/main.js"></script>

    <script src="~/Scripts/toastr.js"></script>

</body>
</html>

